@font-face {
    font-family: 'baskerville_old_faceregular';
    src: url('../font/baskerville_old_face-webfont.eot');
    src: url('../font/baskerville_old_face-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/baskerville_old_face-webfont.woff2') format('woff2'),
    url('../font/baskerville_old_face-webfont.woff') format('woff'),
    url('../font/baskerville_old_face-webfont.ttf') format('truetype'),
    url('../font/baskerville_old_face-webfont.svg#baskerville_old_faceregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    font-family: baskerville_old_faceregular, sans-serif !important;
    background-color: #F9F6E4;
    color: black;
}

.logo{
    width: 65px;
}


nav.scrolled {

}

nav {
    position: relative;
    width: 100%;
    height: 70px;
    top: 0;
    background: none;
    transition: background 500ms ease;
    -webkit-transition: background 500ms ease;
}

#slide2{
    height: 1000px;
    padding-top: 100px;
}


#slide1 {
    height: 900px;
    background-color: #F9F6E4;

}
#slide2 {
    height: 900px;
    background: url(../img/slider1.png) center 0 no-repeat fixed;
    background-size: cover;

}
#slide3 {
    height: 900px;
    background-color: #F9F6E4;
}

#slide4 {
    padding-top: 22px;
    height: 450px;
    background-color: #F9F6E4;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

#slide5 {
    padding-top: 50px;
    height: 682px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}




.slide_inside {
    margin: 0 auto;
}

.slide_inside img {
    width: 100%;
}

.slide_inside_text {
    text-align: center;
    font-size: 26px;
}

.footer {
    background-color: ghostwhite;
    text-align: center;
}

/*
 * slide
 */

.slides {
    padding: 0;
    width: 100%;
    height: 900px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 900px;
    display: block;
    position: absolute;

    transform: scale(0);

    transition: all .7s ease-in-out;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}

.slide img {
    width: 90%;
    height: 90%;
    margin: auto 3%;
}
#slide3 .slide .position-image2 {
    width: 98% ;
    height: 97% ;
    margin: 1% 1% ;
}

#slide3 .slide img {
    width: 90%;
    height: 100%;
    margin: -10% 13%;
}

.position-image {
    position: absolute;
    left: 14%;
}


.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 98pt;
    text-align: center;
    line-height: 700%;
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
    width: 100%;
    bottom: 50px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.nav-dots .nav-dot {
    top: -5px;
    width: 15px;
    height: 15px;
    margin: 0px 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgb(134, 130, 130);
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
    background: rgb(78, 75, 75);
    border: 1px rgb(134, 130, 130) solid;
}

input#img-1bis:checked ~ .nav-dots label#img-dot-1bis,
input#img-2bis:checked ~ .nav-dots label#img-dot-2bis,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
    background: rgb(78, 75, 75);
    border: 1px rgb(134, 130, 130) solid;
}


.head-slide {
 padding: 0 !important;
}

.dropdown-content:active {
    width: 300Px;
    position: absolute;
    top: 0;
    left: 0px;
    opacity: 1;
    display: block;
    height: 1000%;
}

.dropdown-test {
    width: 300px !important;
    position: absolute;
    opacity: 0;
    display: none;
    background-color: ghostwhite;
    height: 1000% !important;
    min-height: 3000px !important;
    border-right: 1px solid black;
}

.dropdown-test a {
    color: black;
    font-size: 20px;
}

.dropdown-test a:hover {
    color: darkslategrey;


}



.dropdown-test li {
    width: 100%;
    text-align: center;
    color: black;
    font-size: 19px;
}

.gras-nav {
    font-weight: 600;
    font-size: 27px;
    background-color: #EAEAF1;
}

.lang {
    padding-top: 15px;

}

.lang img {
    width: 40px;
    cursor: pointer;
    transform: rotate(0deg);
    transition-duration:0.2s;
}

.lang .img:hover{
    transform: rotate(360deg);
    transition-duration: 0.6s;
}

.second-l {
    width: 145px !important;
}

.row {
    margin-bottom: 0px !important;
}

#dropdown2 li {
    text-align: center;
}

.nav-color {
    background-color: #F9F6E4;
}

nav {
    color: black;
}

#slide3 .text {
    position: absolute;
    width: 800px;
    margin: 0px 26%;
    font-size: 19px;
}

#slide4 .text {
    width: 1000px;
    margin: auto 20%;
    font-size: 21px;
    text-align: center;
}

#slide3 h1 {
    text-align: center;
}

#slide5 .slide_inside img {
    width: 41% !important;
    float: left;
    margin-right: 25px;
}

#slide5 .text {
    font-size: 27px;
}

#slide5 h1 {
    text-align: center;
}

.page-5 {
    width: 90%;
    margin: 0 auto;
}